{%extends 'base.html'%}
{%load static%}
{%block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{%endblock%}
  <title>{%block title%}{%endblock%}</title>
{%block content%}

<div class='mobile'>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {%for product in products%}
    
    {%if product.category.name == 'Mobile'%}
    <div class="col-lg-3">
      <div class="card">
        {% if product.image %}
        <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
        {%endif%}
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          {% comment %} <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> {% endcomment %}
      </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{product.price}} تومان</li>
            {%if product.available%}
            <li class="list-group-item">
              <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
              <label class="btn btn-outline-primary" for="btn-check-outlined">موجود
                 است
              </label><br>
            </li>
            {%else%}
            <li class="list-group-item ">
              <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
              <label class="btn btn-outline-danger" for="btn-check-outlined">موجود
                 است
              </label><br>
            </li>
            {%endif%}
        </ul>
        <div class="card-body">
            <a href="#" class="btn btn-success">خرید</a>
        </div>
      </div>
    </div>
    {%endif%}
    {% endfor %}
</div>
</div>
<div class='dark-bar'>
</div>
<div class='laptop'>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {%for product in products%}
    
      {%if product.category.name == 'Laptop'%}
      <div class="col-lg-3">
        <div class="card">
          {% if product.image %}
          <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
          {%endif%}
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            {% comment %} <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> {% endcomment %}
        </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">{{product.price}}تومان </li>
{%if product.available%}
            <li class="list-group-item">
              <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
              <label class="btn btn-outline-primary" for="btn-check-outlined">موجود
                 است
              </label><br>
            </li>
            {%else%}
            <li class="list-group-item ">
              <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
              <label class="btn btn-outline-danger" for="btn-check-outlined">موجود
                 است
              </label><br>
            </li>
            {%endif%}
          </ul>
          <div class="card-body">
              <a href="#" class="btn btn-success">خرید</a>
          </div>
        </div>
      </div>
      {%endif%}
      {% endfor %}
  </div>
  </div>
        
</div>
</div>  

<div class='dark-bar'>
</div>

<div class='random-product'>
 <div class="card mb-3" style="max-width: 100%; height:900px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{random_product.image.url}}" class="img-fluid rounded-start" alt="{{random_product.name}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{random_product.name}}</h5>
          <p class="card-text">{{random_product.description}}</p>
          <p class="card-text"><small class="text-body-secondary">{{random_product.created}}</small></p>
        </div>
      </div>
    </div>
  </div> 

</div>

  {%endblock%}
