.mobile, .laptop{
    margin-top: 0px;
    padding: 50px;

}
.random-product{
    height: 600px;
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

}
.mobile img{
    height: 300px;
}
.laptop img{
    height: 300px;
}
.card:hover img{
    background-color: azure;
}
.random-product{
    margin-bottom: 600px;
}